<div class="contact-container">
    <div class="main-content">
        <div class="contact">
            <div class="title">
                <h2>If you have any questions or queries please feel free to contact me below</h2>
            </div>
            <div class="form">
                <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
                    <div class="form-group">
                        <label for="Email"><h4>Email</h4></label>
                        <input type="email" class="form-control" name="Email" aria-describedby="emailHelp"
                            placeholder="Enter email" formControlName="Email">
                    </div>
                    <div class="form-group">
                        <label for="fullname"><h4>Name</h4></label>
                        <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
                    </div>
                    <div class="form-group">
                        <label for="subject"><h4>Subject</h4></label>
                        <input type="text" class="form-control" name="Subejct" placeholder="Subject" formControlName="Subject">
                    </div>
                    <div class="form-group">
                        <label for="Message"><h4>Message</h4></label>
                        <textarea class="form-control" formControlName="Message" name="Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid"><h2>Submit</h2></button>
                </form>
            </div>
        </div>
    </div>
</div>