<div class="about-container">
    <div class="main-content">
        <div class="about">
            <div class="title">
                <div class="picture">
                    <img src="../../../assets/pic.jpeg" alt="Me">
                </div>
                <h1>About Me</h1>
            </div>
            <div class="text">
                <h2>My name is Karl</h2>
                <h5>I am an enthusiastic, self motivated and charismatic individual.</h5>
                <p>I am from Donegal, currently living in Dublin. I am a final year student in Dublin City University
                    studying Computer Science.<br> I have been interested in software and technology since a young age,
                    which started off with gaming
                    and
                    eventually leading me to wonder about how the games I played were made. <br>
                    I have learned many different languages and technologies both in college and outside college in my
                    own
                    time, and enjoy taking on personal projects in my spare time which help broaden my knowledge on
                    topics I
                    may not have been familiar with previously. <br>
                    I have experience working on a development team thanks to my five month internship with IRLCA Ltd,
                    where
                    I worked on a web application helping to digitize the pharmaceutical testing industry, and this has
                    helped me gain crucial knowledge about how a development team operates, how to work in an agile
                    environment with regular standups, scrum meetings and deadlines. <br>
                    Aside from programming, I am an active person and enjoy going to the gym, as well as kickboxing and
                    Jiu Jitsu.
                </p>
            </div>
        </div>
    </div>
</div>