.header-container {
    display: flex;
    height: 7.9vh;
    width: 100vw;
    justify-content: space-between;
    background-color: black;
    border-bottom: 0.01vh solid white;
    .logo {
        margin-left: 2vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
    }
    .header-items {
        display: flex;
        width: 50vw;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 2.5vw;
    }
}