<div class="header-container">
    <div class="logo">
        <h1>KD</h1>
    </div>
    <div class="header-items">
        <div class="header-item">
            <a href="/"><h3>Projects and Skills</h3></a>
        </div>
        <div class="header-item">
            <a href="/"><h3>About Me</h3></a>
        </div>
        <div class="header-item">
            <a href="/"><h3>Cirriculum Vitae</h3></a>
        </div>
        <div class="header-item">
            <a href="/"><h3>Contact Me</h3></a>
        </div>
    </div>
</div>
