<div class="header-container">
    <div class="logo">
        <a routerLink="/" routerLinkActive="active"><h1>KD</h1></a>
    </div>
    <div class="header-items">
        <div class="header-item">
            <a routerLink="/projects" routerLinkActive="active"><h3>Projects and Skills</h3></a>
        </div>
        <div class="header-item">
            <a><h3>About Me</h3></a>
        </div>
        <div class="header-item">
            <a><h3>Cirriculum Vitae</h3></a>
        </div>
        <div class="header-item">
            <a><h3>Contact</h3></a>
        </div>
    </div>
</div>