<div class="projects-container">
    <div class="main-content">
        <div class="projects">
            <div class="title">
                <h1>Some of my work can be found below!</h1>
            </div>
            <div class="projects-slideshow">
                <div class="arrow">
                    <button (click)="changeProject(-1)" [disabled]="leftArrowDisabled">
                        <h1>
                            <fa-icon [icon]="faChevronLeft"></fa-icon>
                        </h1>
                    </button>
                </div>
                <div class="project">
                    <div class="proj-title">
                        <h3>{{ projectsList[projectIndex].title }}</h3>
                    </div>
                    <div class="project-picture">
                        <img src="../../../assets/artistConnect.png" alt="" *ngIf="artistConnect">
                        <img src="../../../assets/premNews.png" alt="" *ngIf="!artistConnect">
                    </div>
                </div>
                <div class="arrow">
                    <button (click)="changeProject(1)" [disabled]="rightArrowDisabled">
                        <h1>
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                        </h1>
                    </button>
                </div>
            </div>
            <div class="description">
                <h4>{{ projectsList[projectIndex].description }}</h4>
            </div>
        </div>
    </div>
</div>