<div class="nav-bar-container">
    <div class="nav-bar-item">
        <div class="logo"><fa-icon [icon]="faLineChart"></fa-icon></div>
        <div class="text"><h5>Projects</h5></div>
    </div>
    <div class="nav-bar-item">
        <div class="logo"><fa-icon [icon]="faGamepad"></fa-icon></div>
        <div class="text"><h5>Skills</h5></div>
    </div>
    <div class="nav-bar-item">
        <div class="logo"><fa-icon [icon]="faGear"></fa-icon></div>
        <div class="text"><h5>Settings</h5></div>
    </div>
</div>
