.nav-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 5vw;
    height: 92vh;
    // background-color: #272727;
    // border-top: 1px solid black;
    .nav-bar-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ffffff;
        gap: 0.5vh;
        .logo {
            display: flex;
            justify-content: center;
            font-size: 2rem;
        }
    }
}