/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;700&family=Trispace&display=swap');

body {
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
    font-family: 'Noto Sans Mono', monospace;
    color: #2B303A;
    background-color: #FFF4E4;
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    a {
        text-decoration: none;
        color: #FFFFFF;
        border: none;
        transition: 0.3s;
    }
    
    a:hover {
        color: #2B303A;
    }

    ul {
        list-style: none;
        color: #2B303A;
        font-size: larger;
        li {
            float: left;
            padding-right: 5vw;
        }
    }

    button {
        border: none;
        background-color: transparent;
    }

}